.logo {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}

.container {
  max-width: 955px;
  margin: auto;
  height: 60vh;
  border: 2px solid black;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 23px;
}

.message {
  background-color: red;
  width: 24%;
  padding: 10px;
  margin: 17px 12px;
  border: 2px solid black;
  border-radius: 10px;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
body {
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(126, 107, 126));
}
#send-container {
    text-align: center;
    max-width: 985px;
    width: 100%;
    display: block;
    margin: auto;
}
#messageInp {
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 35px;
}
.btn {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 35px;
}
